<div class="details">
  <div class="profile-container">
    <h3>Welcome Back!</h3>
    <%= cl_image_tag current_user.photo.key, crop: :fill, class: "avatar" %>
  </div>
  <h3 class="color_ingredient">What can't you eat?</h3>

    <div class="profile-details">
    </div>
 <%= simple_form_for current_user, url: :profile_users, method: "PATCH" do |f| %>
  <div class="ing-cat-container">
    <% IngredientCategory.all.each do |cat| %>
      <h2 class="category-name"> <%= cat.name.capitalize %></h2>
    <%= f.input :ingredient_ids, legend_tag: false, collection: cat.ingredients, as: :check_boxes,
              include_hidden:false, include_blank: false, input_html: { class: "tag-selector" },
              label_html: { class: "d-none" },
              item_wrapper_class: 'tag-item' %>
          <%end %>
  </div>
    <%= f.submit "Save your ingredients", class: "btn" %>
    <% end %>

</div>
