<%= render 'shared/navbar' %>

<details class="details">
<summary class="color_ingredient">What can't you eat?</summary>
    <%= simple_form_for current_user || User.new, url: "/restaurants", method: "GET" do |f| %>
  <div class="ing-cat-container">
    <% IngredientCategory.all.each do |cat| %>
      <h2 class="category-name"> <%= cat.name.capitalize %></h2>
    <%= f.input :ingredient_ids, legend_tag: false, collection: cat.ingredients, as: :check_boxes,
              include_hidden:false, include_blank: false, input_html: { class: "tag-selector" },
              label_html: { class: "d-none" },
              item_wrapper_class: 'tag-item', checked: @ingredients_query %>
          <% end %>
  </div>
  <%= f.submit "Filter", class: "btn", id: "filter" %>
  <% end %>
</details>

<div style="width: 100%; height: 250px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<% if @restaurants %>
  <% @restaurants.each do |restaurant| %>
      <div class="index-cards">
        <div id="card-photo"style="background-image: url('<%= cl_image_path restaurant.photo.key %>')">
          <% if user_signed_in? %>
            <% favourite = @user_favourites.find { |favourite| favourite.restaurant_id == restaurant.id } %>
            <% if favourite %>
            <%= render 'favourites/link_destroy_favourite', restaurant: restaurant, favourite: favourite %>
            <% else %>
            <%= render 'favourites/link_favourite', restaurant: restaurant %>
            <% end %>
          <% end %>
        </div>
        <div class="card-trip-infos">
          <div class="card-header">
            <h2><%= link_to restaurant.name, restaurant_path(restaurant, user: {ingredient_ids: @ingredients_query}, address: params[:address]), class:"rest-name-card" %></h2>
            <strong class="card-trip-pricing"><i class="fas fa-star star"></i><%= restaurant.rating %></strong>
          </div>
            <h3><%= restaurant.category %></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum iusto impedit exercitationem voluptas</p>
        </div>
          </div>
    <% end %>
<% end %>
