<details class="details">
<summary class="color_ingredient">What can't you not eat?</summary>
    <%= simple_form_for :search, url: "/restaurants", method: "GET" do |f| %>
  <div class="ing-cat-container">
    <% IngredientCategory.all.each do |cat| %>
      <h2 class="category-name"> <%= cat.name.capitalize %></h2>
    <%= f.input :ingredients, legend_tag: false, collection: cat.ingredients, as: :check_boxes,
              include_hidden:false, include_blank: false, input_html: { class: "tag-selector" },
              label_html: { class: "d-none" },
              item_wrapper_class: 'tag-item' %>
          <% end %>
  </div>
  <%= f.submit "Filter", class: "btn", id: "filter" %>
  <% end %>
</details>


<div style="width: 100%; height: 250px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<% if @restaurants %>
  <% @restaurants.each do |restaurant| %>
      <div class="card-trip">
        <%= cl_image_tag restaurant.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to restaurant.name, restaurant_path(restaurant, search: {ingredients: @ingredients_query}), class:"rest-name-card" %></h2>
            <p><%= restaurant.category %></p>
          </div>
          <strong class="card-trip-pricing"><i class="fas fa-star star"></i><%= restaurant.rating %></strong>
        </div>
      </div>
    <% end %>
<% end %>
