<div class="show-main-container">
  <div class="container">
    <div class="card-trip">

   
    <h1 class="rest-name-show"><%= @restaurant.name %></h1>

    <% if @restaurant.photo.attached? %>
      <%= cl_image_tag @restaurant.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="card-trip-infos">
        <div>
            <p><%= @restaurant.category %></p>
           <p><%= @restaurant.rating %></p>
            <p><%= @restaurant.price %> </p>
            <p><%= @restaurant.telephone %></p>
             <p><%= @restaurant.address %></p>
            <p><%= @restaurant.adaptability %></p>
            <p><%= @restaurant.wifi %></p>
            <p><%= @restaurant.start_time %></p> - <p><%= @restaurant.end_time%></p>
            <p><%= @restaurant.dishes.name %></p>
          </div>
       </div>
      <%else%>
        <h1>No picture</h1>
      <% end %>
     <!--  Here the code for dishes list for a given restaurant-->
<% @dishes.each do |dish| %>
  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1610300034180-d55d519ca946?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=837&q=80" />
    <div class="card-product-infos">
      <h2><%= dish.name%></h2>
      <% dish.ingredients.each do |ingredient| %>
          <%= ingredient.name  %>
          <% end %>
    </div>
  </div>
      
<% end %>

    </div>
  </div>

</div>

    <%# <!--- Here the code for reviews"
    <%# <h2>Reviews</h2> %>
    <%# <ul class="list-group"> %>
      <%# <% @restaurant.reviews.each do |review| %>
        <%# <li class="list-group-item"><%= review.content %>
      <%# <% end %>
    <%# </ul> %>
    <%# <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
