<div class="show-main-container">
  <div class="show-banner" style="background-image: url(<%= cl_image_path @restaurant.photo.key, height: 300, width: 400, crop: :fill if @restaurant.photo.attached? %>)">
    <h1 class="rest-name-show"><%= @restaurant.name %></h1>
  </div>
  <div class="container">
    <div class="card-trip show-info">
      <div class="first-row">
        <div class="top-info">
          <h2 id="price"><%= @restaurant.price %></h2>
          <h2 class= "restaurant-category"><%= @restaurant.category %></h2>
          <h2 class="card-trip-pricing"><i class="fas fa-star star"></i><%= @restaurant.rating %></h2>
        </div>

        <div>
          <h2><%= @restaurant.address %></h2>
        </div>

        <div class="hour">
          <p><strong><%= @restaurant.start_time %>:00 PM - <%= @restaurant.end_time %>:00 PM</strong></p>
        </div>

        <div class="icon-wrapper">
          <% if @restaurant.wifi %>
            <div class="icon-description">
              <img id="icon" src="https://img.icons8.com/windows/32/000000/wifi--v2.png"/>
              <figcaption>Wifi</figcaption>
            </div>
          <% else %>
            <div class="icon-description">
              <img id="icon" src="https://img.icons8.com/plumpy/24/000000/without-internet.png"/>
              <figcaption>Wifi</figcaption>
            </div>
          <% end %>
          <% if @restaurant.terrace %>
            <div class="icon-description">
              <img src="https://cdn-icons-png.flaticon.com/512/358/358824.png"/>
              <figcaption>Terrace</figcaption>
            </div>
          <% else %>
            <div class="icon-description">
              <img id="icon" src="https://cdn-icons-png.flaticon.com/512/358/358824.png"/>
              <figcaption>Terrace</figcaption>
            </div>
          <% end %>
        </div>

        <div class="available">
          <% if @restaurant.adaptability %>
            <p class="red">This restaurant will <strong>Not</strong> change ingredients.</p>
          <% else %>
            <p class="green">This restaurant <strong>Can</strong> make changes to your ingredients. </p>
          <% end %>
        </div>
          </div>
        <a class="btn" href="tel:<%= @restaurant.telephone %>">Contact the restaurant</a>
      </div>
    <div>
      <h2> These are the dishes you can eat! </h2>
    </div>
    <% @dishes.each do |dish| %>
      <div class="card-product">
      <%= cl_image_tag dish.photo.key, height: 100, width: 100, crop: :fill if dish.photo.attached? %>
        <div class="card-product-infos">
          <h2><%= dish.name%></h2>
          <% dish.ingredients.each do |ingredient| %>
            <%= ingredient.name  %>
          <% end %>
        </div>
      </div>
      <% end %>

  </div>
</div>
