<div class="show-main-container">
  <div class="container">
    <div class="card-trip">
    <% @restaurants.each do |restaurant| %>
    <% if @restaurant.photo.attached? %>
      <%= cl_image_tag @restaurant.photo.key %>
      <div class="card-trip-infos">
        <div>
            <span><strong><%= @restaurant.name %></span>
            <p><%= @restaurant.category %></p>
            <span><%= restaurant.rating %>   <!-- <i class="fas fa-star star-yellow"></i></span>-->
            <p><%= @restaurant.price %> €</p>
            <p><%= @restaurant.telephone %></p>
  <!--      <p><%= @restaurant.address %></p>-->
            <p><%= @restaurant.adaptability %></p>
            <p><%= @restaurant.wifi %></p>
            <p><%= @restaurant.start_time %></p> - <p><%= @restaurant.end_time  %></p>
          </div>
       </div>
      <%else%>
        <h1>No picture</h1>
      <% end %>
      <% end %>
    </div>
    <%= link_to 'Home page', roots_path %>
  </div>
</div>
